.nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 1rem var(--horizontal-padding);
  height: 5rem;
  background: var(--card-color);
  z-index: 99;
}

.navDropdown {
  display: block;
  padding: 1rem 0;
  font-size: 2rem;
  float: right;
  cursor: pointer;
  transition: transform .2s ease;
}

.navDropdown.isDropped {
  transform: rotate(180deg);
}

.navDefault {
  display: none;
}

.navDefault.isDropped {
  display: block;
}

.navLogo {
  float: left;
}

.nav ul {
  position: absolute;
  margin: 0;
  top: 4rem;
  right: 0;
  display: block;
  width: 100%;
  background: var(--card-color);
}

.nav ul li {
  display: block;
  width: 100%;
  text-align: right;
  padding: 1rem var(--horizontal-padding);
}

.borderCircle {
  border-radius: 50%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}

@media (min-width: 800px) {
  .navDropdown {
    display: none;
  }

  .navDefault {
    display: block;
  }

  .nav ul {
    position: relative;
    margin: 0;
    top: 0;
    display: block;
    width: auto;
    float: right;
  }
  
  .nav ul li {
    display: inline-block;
    width: auto;
    text-align: center;
    padding: 1rem 1.5rem;
  }
}
